@import "./_typography.scss";
@import "./_animations.scss";
@import "./_modal.scss";
.main-bg {
  background: #27b894;
}
.button-round {
  border: none;
  border-radius: 20px;
  background: linear-gradient(
    to bottom,
    rgba(20, 98, 255, 1) 0%,
    rgba(63, 81, 181, 1) 100%
  );
}
label {
  position: relative;
  color: #FFF;
}
label:focus {
  color: green;
}
input:focus::-webkit-input-placeholder {
  transition: all 0.3s;
  color: transparent;
  // float: right;

}

.logo {
  color: #fff;
  animation: 1.7s easeIn;
  font-size: 6em;
}
button:focus {
  outline: none;
}

.header-content {
  color: #fff;

  padding: 10% 10px 0;
  margin-bottom: 10px;
  p {
    opacity: 0.9;
    animation: 2s easeIn;
    font-size: 1.6em;
  }
  h1 {
  }
}
